
.map-container {
    height: 600px;
    position: relative;
    #map {
        height: 100%;
        background-color: #111;
        @include down(md) {
            div {
                display: none;
            }
        }
    }
    .map-details {
        position: absolute;
        z-index: 1000;
        width: 50%;
        height: 100%;
        padding: 6rem;
        @include down(md) {
            padding: 3rem;
            width: 100%;
        }
        @include down(sm) {
            padding: 2rem;
            width: 100%;
        }
        .center {
            height: 100%;
            padding: 4rem;
            background: white;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
        }
        .text {
            font-family: "Raleway",sans-serif !important;
            font-weight: 300;
            font-size: 1.5em;
            line-height: 1.5em;
            margin-bottom: 2rem;
        }
        .text2 {
            font-weight: bold;
            font-size: 1.125em;
            letter-spacing: 0.01em;
            line-height: 1.5em;
            text-align: center;
            margin-bottom: 2rem;
        }
        hr {
            border: none;
            width: 50%;
            border-bottom: 3px solid $yellow;
        }
        .text3 {
            margin-top: 2rem;
            font-family: "Raleway",sans-serif !important;
            font-weight: 300;
            font-size: 1.5em;
            line-height: 1.8em;

        }
    }
}

